.myImg{
    width: 100vw;
    height: 100vh;
    border-radius: 10px;
    background-image: url(../public/images/ja.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain; 
    
  }

  @media (max-width: 920px) {
    .myImg{ 
      background-image: none
    }
  }

  @media (min-width: 1560px) {
    .ContactCardMob{ 
      display: none
    }
  }

  @media (max-width: 1560px) {
    .ContactCard{ 
      display: none
    }
  }